


#logo {
  float:left;
  align-items: center;
  font-size: 16px;

  

}

#menu{
  float:right;
  align-items: center;

}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8.33%;
  color: #fb11c7;
  background-color:#61dafb;
  padding-left: 16.7%;
  padding-right: 16.7%;
  margin-bottom: 12.68%;
  
}

.Main-Content{
  justify-content: center;
  height: 54%;
  padding-top: 8.33%;
  padding-bottom: 8.33%;
  margin-left: 6.7%;
  margin-right: 6.7%;
  margin-bottom: 8.33%;
  background-color: #f5f5f5;
  text-align: center;
}
.welcome{
  font-size:20px;
}

.message{
  font-size: 16px;
}
.BookMe button{
  font-size: 20px;
  color: #fb11c7;
  
}
iframe{
  height: 700px;
  width: 100%;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}

media screen and (max-width: 1024px) {
  /* CSS rules specific to smartphones */
  #logo {
  font-size: 12px;
  }
.Main-Content{
  margin-left: 2%;
  margin-right: 2%;
  
}
  .welcome{
  font-size:16px;
}

.message{
  font-size: 12px;
}
.BookMe button{
  font-size: 16px;
  
}
  iframe{
  width:100%;
  font-size:12px;
}

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
