body {
  margin: 0;
  background-image: url("./debby-hudson-TqKFiMR9O6s-unsplash.jpg");
  backdrop-filter: blur(10px); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lexend Peta', sans-serif;
font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

